<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <title>Django on METANIT.COM</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Главная страница</h2>-->
<!--{% include "banner.html" with tutorial="Python" %}-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <title>Django на METANIT.COM</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>{{ header }}</h1>-->
<!--    <p>Имя: {{ user.name}} Возраст: {{user.age}}</p>-->
<!--    <p>Адресс: ул. {{address.0}}, д. {{address.1}}, кв. {{address.2}}</p>-->
<!--    <p>Языки: {{langs.0}}, {{langs.1}}</p>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <title>METANIT.COM</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>User form</h2>-->
<!--    <form method="post" action="postuser/">-->
<!--        {% csrf_token %}-->
<!--        <p>Name: <br />-->
<!--            <input name="name" />-->
<!--        </p>-->
<!--        <p>Age: <br />-->
<!--            <input name="age" type="number" />-->
<!--        </p>-->
<!--        <p>-->
<!--            Languages:<br />-->
<!--            <select multiple name="languages">-->
<!--                <option>Python</option>-->
<!--                <option>JavaScript</option>-->
<!--                <option>C++</option>-->
<!--                <option>Java</option>-->
<!--             </select>-->
<!--        </p>-->
<!--        <input type="submit" value="Send" />-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите возраст</label><br>
            <input type="number" name="age" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% if people.count > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <thead><th>Id</th><th>Имя</th><th>Возраст</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>